<!DOCTYPE html>
<html lang="en">
    <%- include ('commons/head.ejs') %> 
    <title>Register | <%= title %></title>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Register</h2>

                        <% if(error) { %>
                        <div class="alert alert-danger"><%= error %></div>
                        <% } %>
                        <form method="POST" action="/register" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="fas fa-user"></i></label>
                                <input type="text" name="user_name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="phone_number"><i class="fas fa-phone-alt"></i></label>
                                <input type="tel" name="phone_number" id="phone_number" placeholder="Phone Number"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="fas fa-lock"></i></label>
                                <input type="password" name="password" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="fas fa-lock"></i></label>
                                <input type="password" name="password2" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include ('commons/script.ejs') %>
    <script>
        // $('.alert').hide();

        // $('.register-form').on('submit', function (e){
        //     e.preventDefault();
        //     var formData = new FormData(this);
        //     console.log(formData)
        //     $.ajax({
        //         url: '/register',
        //         type: 'POST',
        //         data: formData,
        //         success: function (data) {
        //             if(data.code) {
        //                 window.location.replace('/login')
        //             } else {
        //                 console.log('error')
        //                 $('.alert').addClass('alert-danger');
        //                 $('.alert').removeClass('alert-success')
        //             }
        //             $('.alert').html(data.message);
        //             $('.alert').show();
        //         },
        //         cache: false,
        //         contentType: false,
        //         processData: false
        //     })
        // })
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>